body{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;

}

.compare{
    border-color: black;
    border-width: 2px;
    background-color: antiquewhite;
    cursor: pointer;
    font-size: 14px;
}

input{
    border-color: black;
    border-width: 2px;
}